@import "tailwindcss";

@theme {
  --color-primary: #f42c37;
  --color-brandYellow: #fdc62e;
  --color-brandGreen: #2dcc6f;
  --color-brandBlue: #1376f4;
  --color-brandWhite: #eeeeee;
}

@custom-variant dark (&:where(.dark, .dark *));